<div class="jumbotron alert alert-info">
  <h1 class="display-3">Guestbook</h1>
  <p class="lead">Please feel free to sign in!</p>
  <br>
  <div class="form-group">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <textarea class="form-control" formControlName="comment"></textarea>
      <div>
        <button type="submit" class="btn btn-primary btn-lg">Post a comment</button>
      </div>
    </form>
  </div>
</div>


<!-- <div class="card-columns">
  <div class="card" *ngFor="let comment of comments">
    <h6>{{ comment.timestamp }}</h6>
    <h5>{{ comment.comment }}</h5>
  </div>
</div>

 -->
