<nav class="nav nav-pills nav-fill">
  <!-- <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">Home</a> -->
  <a class="nav-item nav-link" routerLinkActive="active" routerLink="/aboutMe">About Me</a>
  <a class="nav-item nav-link" routerLinkActive="active" routerLink="/apps">Applications</a>
  <a class="nav-item nav-link" routerLinkActive="active" routerLink="/funWithText">Fun With Text</a>
  <a class="nav-item nav-link" routerLinkActive="active" routerLink="/guestBook">Guestbook</a>
</nav>