nav a:nth-child(1) {
  background: #f5f5f5;
  color: #0f1626;
}

nav a:nth-child(2) {
  background: #0F1626;
  color: #f5f5f5;
}

nav a:nth-child(3) {
  background: #ab987a;
  color: #f5f5f5;
}

a {
  transition: .5s;
  transform: scale(.9);
}

a:hover {
  color: red;
  transform: scale(1);
}

iframe {
  background: #f5f5f5;
}
