<div class="jumbotron">
  <h1 class="display-3">Matt Fernandez</h1>
  <p class="lead">I am a Full Stack Software Engineer, an athlete, and a gamer.  I am a highly motivated, autonomous team player.  I have created Full Stack applications with the MEAN, and MERN stacks; using Angular 4, AngularJS, and React.
  <br>
  <p>
    <button class="btn btn-primary btn-lg" (click)="toggleModal($event)">More Info</button>
  </p>
</div>

<div class="card-columns">
  <app-tech class="card"*ngFor="let skill of skills" [skill]="skill"></app-tech>
</div>

<div class="modal modalWrapper" [style.display]="getStyle()" (click)="toggleModal($event)">
  <app-modal [facts]="facts"></app-modal>
</div>


<!-- <div class="modal modalWrapper" [style.display]="getStyle()" (click)="toggleModal($event)">
  <div class="modal-dialog modal-lg miniWrapper" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <div class="card">
          <div class="card-header">
            "I have no special talent, I am only passionately curious." - Albert Einstein
          </div>
          <div class="card-body">
            <h4 class="card-title">Matt Fernandez</h4>
            <p class="card-text">Full Stack Software Engineer.  Athlete.  Gamer.</p>
          </div>
        </div>

        <div class="card-deck">
          <app-randomfact *ngFor="let fact of facts" [fact]="fact" class="card"></app-randomfact>
        </div>

        <small class="text-muted">Last updated 10/09/2017</small>

      </div>
    </div>
  </div>
</div>



 -->