<div class="jumbotron">
  <h1 class="display-3">Matt Fernandez</h1>
  <p class="lead">I am a Full Stack Software Engineer, athlete, and a gamer.  I am a highly motivated, autonomous team player.  I've created Full Stack applications with Angular, AngularJS, and React.  Generally I like to use either MongoDB or MySQL; supported by node, and express.
  <br>
  <p>
    <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/matthewafernandez/" role="button" target="blank">Linked In</a>
    <button class="btn btn-info btn-lg" (click)="toggleModal($event)">More Info</button>
  </p>
</div>

<div class="row">
  <app-tech *ngFor="let skill of skills" [skill]="skill"></app-tech>
</div>

<div class="modal modalWrapper" [style.display]="getStyle()" (click)="toggleModal($event)">
  <div class="modal-dialog modal-lg miniWrapper" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <div class="card">
          <div class="card-header">
            "I have no special talent, I am only passionately curious." - Albert Einstein
          </div>
          <div class="card-body">
            <h4 class="card-title">Matt Fernandez</h4>
            <p class="card-text">Engineer.  Athlete.  Gamer.</p>
          </div>
        </div>

        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="https://preview.ibb.co/iRSJ9v/IMG_1954.jpg">
            <div class="card-body">
              <p class="card-text">I enjoy playing golf with friends; I play to an 8 handicap.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://preview.ibb.co/iCiVNF/soccer.jpg">
            <div class="card-body">
              <p class="card-text">I am an ex NCAA Division III Collegiate Athlete.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://preview.ibb.co/ioRLpv/IMG_3569.jpg">
            <div class="card-body">
              <p class="card-text">This years vacation in tahoe.</p>
            </div>
            <small class="text-muted">Last updated 08/16/2017</small>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



