a {
  transform: scale(1);
}

a:hover {
  transform: scale(1.1);
}

h1 {
  animation-duration: 1.5s;
  animation-name: slidein;
}

.jumbotron {
  color: #f8f9fa;
  background-color: #004085;
  border-color: #004085;
}

.card {
  border: none;
  transition: .5s;
  transform: scale(.9);
}

.card:hover {
  transform: scale(1);
}

@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 300%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}