<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://media.giphy.com/media/yUI3a7RwLhOFy/giphy.gif" alt="...">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="...">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://media.giphy.com/media/yUI3a7RwLhOFy/giphy.gif" alt="...">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="...">
    </a>
  </div>
</div>