a {
  transform: scale(1);
}

a:hover {
  transform: scale(1.1);
}

h1 {
  animation-duration: 2s;
  animation-name: slidein;
}

.card {
  border: none;
}

@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 300%;
  }
  25% {
    margin-left: 75%;
    width: 200%;
  }
  50% {
    margin-left: 50%;
    width: 150%;
  }
  75% {
    margin-left: 25%;
    width: 125%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}