<div class="row">
  <div class="page-header">
    <h1>Full Stack Apps<small> AngularJS, ReactJS, and Angular.</small></h1>
  </div>
  <app-photo *ngFor="let photo of photos" [photo]="photo"></app-photo>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>