<div class="jumbotron">
  <h1 class="display-3">Fun With Text!</h1>
  <p class="lead">Oxford comma your text!</p>
  <hr class="my-4">
</div>

<form>
  <div class="form-group">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
       <button type="button" class="btn btn-secondary">Add Oxford Commas!</button>
       <button type="button" disabled="true" class="btn btn-secondary">Coming Soon!</button>
       <button type="button" disabled="true" class="btn btn-secondary">Coming Soon!</button>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
</form>