<div class="jumbotron">
  <h1 class="display-3">Fun With Text!</h1>
  <hr class="my-4">
    <div >
      <p class="lead">{{ this.outputText }}</p>
    </div>
    <div class="btn-group" role="group">
       <button (click)="setText($event)" type="button" class="btn btn-primary">Add Oxford Commas!</button>
       <button (click)="setText($event)" type="button" class="btn btn-primary">UPPERCASE!</button>
       <button (click)="setText($event)" type="button" class="btn btn-primary">lowercase!</button>
       <button (click)="setText($event)" type="button" class="btn btn-primary">camelCase!</button>
    </div>
</div>

<form>
  <div class="form-group">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Input Text</label>
      <textarea [(ngModel)]="inputText" name="inputText" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" (click)="handleRequest()">Submit</button>
  </div>
</form>