a {
  transform: scale(1);
  margin: .5em;
  color: #ffffff;
}

a:hover {
  transform: scale(1.1);
}

h2 {
  animation-duration: 1.5s;
  animation-name: slidein;
}

.modalWrapper {
  background-color: rgba(0,0,0,0.5);
}

.jumbotron {
  border-radius: 0em;
  color: #f8f9fa;
  background-color: #004085;
  border-color: #004085;
}

.col {
  background: #e9ecef;
}

@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 300%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}

