<div class="jumbotron alert alert-info">
  <h6 class="display-3">Full Stack Software Engineer</h6>
  <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/matthewafernandez/" role="button" target="blank">Linked In</a>
  <a class="btn btn-info btn-lg" href="https://github.com/woonandez" role="button" target="blank">GitHub</a>
  <a class="btn btn-primary btn-lg" href="https://mattfernandezblog.wordpress.com/" target="blank">My Blog</a>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <img class="img-fluid rounded" src="https://preview.ibb.co/co1145/12631392_10153371371237285_671265218019249778_n.jpg" style="width: 100%" class="img-thumbnail">
      </div>
    </div>
    <div class="col">
      <p class="text-justify">Hey!  My name is Matt Fernandez.  I am a Full Stack Software Engineer.  My main competencies are Javascript, and Java.  I enjoy Angular- this site is built using Angular 5, Express, and PostgresQL.  I have production level experience with Angular 5, Spring, Hibernate, and MySQL.

      <br>
      <br>
      I have also built applications using React, Redux, MongoDB, and more...
      <br>
      <br>
      In my free time I enjoy working out, playing video games, and playing golf.
      </p>
    </div>
  </div>
</div>