div {
  background-color: #ab987a;
  color: #f5f5f5;
}

a {
  transform: scale(.9);
}

a:hover {
  transform: scale(1);
}

.card {
  transition: .5s;
  transform: scale(.9);
}

.card:hover {
  transform: scale(1);
}

