<div class="jumbotron">
  <h1 class="display-3">Matt Fernandez</h1>
  <p class="lead">Hey! I am a Full Stack Software Engineer.  I enjoy working with Angular 2+, node/express, and relational databases.  In my free time I enjoy working out, and playing video games.
  <br>
  <p>
    <button class="btn btn-primary btn-lg" (click)="toggleModal($event)">More Info</button>
  </p>
  <label for="basic-url">Search Skills</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
</div>

<div class="card-columns">
  <app-tech class="card"*ngFor="let skill of skills" [skill]="skill"></app-tech>
</div>

<div class="modal modalWrapper" [style.display]="getStyle()" (click)="toggleModal($event)">
  <div class="modal-dialog modal-lg miniWrapper" role="document">
    <app-modal [facts]="facts"></app-modal>
  </div>
</div>

