<div class="jumbotron">
  <h1 class="display-3">Matt Fernandez</h1>
  <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/matthewafernandez/" role="button" target="blank">Linked In</a>
  <a class="btn btn-info btn-lg" href="https://github.com/woonandez" role="button" target="blank">GitHub</a>
  <a class="btn btn-primary btn-lg" href="https://mattfernandezblog.wordpress.com/" target="blank">My Blog</a>
  <a class="btn btn-primary btn-lg" (click)="toggleModal($event)">More Info</a>
  <p class="lead">Do you want someone who enjoys getting things done?  Look no further.  I specialize in JavaScript, TypeScript, Java, Full Stack Development, and Continuous Integration.
  <br>
  <div class="col">
    <div>
      <img class="img-fluid rounded" src="https://preview.ibb.co/co1145/12631392_10153371371237285_671265218019249778_n.jpg" style="width: 20%" class="img-thumbnail">
    </div>
  </div>
  <br>
  <h3><label for="basic-url">Search Relevant Skills</label></h3>
  <div class="input-group mb-3">
    <input type="text" class="form-control" (keyup)="filterSkills($event)">
  </div>
</div>

<div class="card-columns">
  <app-tech class="card"*ngFor="let skill of filteredSkills" [skill]="skill"></app-tech>
</div>

<div class="modal modalWrapper" [style.display]="getStyle()" (click)="toggleModal($event)">
  <div class="modal-dialog modal-lg miniWrapper" role="document">
    <app-modal [facts]="facts"></app-modal>
  </div>
</div>

