button {
  transform: scale(1);
}

button:hover {
  transform: scale(1.1);
}

h1 {
  animation-duration: 1.5s;
  animation-name: slidein;
}

.jumbotron {
  border-radius: 0em;
  color: #f8f9fa;
  background-color: #004085;
  border-color: #004085;
}

.modalWrapper {
  background-color: rgba(0,0,0,0.5);
}

.miniWrapper {
  animation-duration: 1s;
  animation-name: slideup;
}

.card {
  border: none;
  transition: .5s;
  transform: scale(.9);
}

.card:hover {
  transform: scale(1);
}

@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 300%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideup {
  0% {
    margin-top: 100%;
    width: 300%;
  }
  100% {
    margin-top: 0%;
    width: 100%;
  }
}