<div class="modal-content">
  <div class="modal-body">
    <div class="card">
      <div class="card-header">
        "I have no special talent, I am only passionately curious." - Albert Einstein
      </div>
      <div class="card-body">
        <h4 class="card-title">Matt Fernandez</h4>
        <p class="card-text">Full Stack Software Engineer.  Athlete.  Gamer.</p>
      </div>
    </div>
    <div class="card-deck">
      <app-randomfact *ngFor="let fact of facts" [fact]="fact" class="card"></app-randomfact>
    </div>
    <small class="text-muted">Last updated 10/13/2017</small>
  </div>
</div>

