
  <div class="card">
    <img class="card-img-top" src="https://preview.ibb.co/iRSJ9v/IMG_1954.jpg">
    <div class="card-body">
      <p class="card-text">I enjoy playing golf with friends; I play to an 8 handicap.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://preview.ibb.co/iCiVNF/soccer.jpg">
    <div class="card-body">
      <p class="card-text">NCAA Division III Collegiate Athlete.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://preview.ibb.co/ioRLpv/IMG_3569.jpg">
    <div class="card-body">
      <p class="card-text">This years vacation in tahoe.</p>
    </div>
  </div>
