<div class="jumbotron">
  <h1 class="display-3">Full Stack Software Engineer</h1>
  <img src="https://preview.ibb.co/co1145/12631392_10153371371237285_671265218019249778_n.jpg" style="width: 25%" class="img-thumbnail">
  <p class="lead">Matt Fernandez</p>
  <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/matthewafernandez/" role="button" target="blank">Linked In</a>
  <a class="btn btn-info btn-lg" href="https://github.com/woonandez" role="button" target="blank">GitHub</a>
  <a class="btn btn-primary btn-lg" href="https://mattfernandezblog.wordpress.com" role="button" target="blank">My Blog</a>
</div>

<div class="embed-responsive embed-responsive-1by1">
  <iframe class="embed-responsive-item" src="https://mattfernandezblog.wordpress.com/"></iframe>
</div>
